<!--Purchase Material Module-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">物料進貨</h4>
    </div>
    <div class="modal-body">
        <form id="purchaseMaterial" class="form-horizontal" role="form">
            <div class="row form-group">
                <label class="control-label col-lg-3" for='txtPurchaseName'>品項名稱：</label>
                <div class="col-lg-8 has-feedback">
                    <input id="txtPurchaseName" name="txtPurchaseName" type="text" class="form-control input-sm" value="<%=inventory.name %>"
                        disabled/>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-3" for='txtPurchaseLocation'>庫存地：</label>
                <div class="col-lg-8">
                    <select id="txtPurchaseLocation" name="txtPurchaseLocation" class="form-control input-sm" disabled>
                        <option value="<%= inventory.location_id%>" selected>
                            <%= inventory.l_name%>
                        </option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-3" for='txtPurchaseOriQuantity'>庫存數量：</label>
                <div class="col-lg-8 has-feedback">
                    <input id="txtPurchaseOriQuantity" name="txtPurchaseOriQuantity" type="number" class="form-control input-sm" value="<%=inventory.quantity %>"
                        disabled/>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-3" for='txtPurchaseOriPrice'>定價：</label>
                <div class="col-lg-8 has-feedback">
                    <input id="txtPurchaseOriPrice" name="txtPurchaseOriPrice" type="number" class="form-control input-sm" value="<%=inventory.price %>"
                        disabled/>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-3" for='txtPurchaseVendor'>供應廠商：</label>
                <div class="col-lg-8 has-feedback">
                    <input id="txtPurchaseVendor" name="txtPurchaseVendor" type="text" class="form-control input-sm" value="<%=inventory.company %>"
                        disabled/>
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-3" for='txtPurchaseQuantity'>購買數量：</label>
                <div class="col-lg-8">
                    <input id="txtPurchaseQuantity" name="txtPurchaseQuantity" type="number" class="form-control input-sm" min="0" />
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-3" for='txtPurchasePrice'>購買單價：</label>
                <div class="col-lg-8">
                    <input id="txtPurchasePrice" name="txtPurchasePrice" type="number" class="form-control input-sm" min="0" />
                </div>
            </div>
            <div class="row form-group">
                <label class="control-label col-lg-3" for='txtPurchaseRemark'>備註：</label>
                <div class="col-lg-8">
                    <textarea id="txtPurchaseRemark" name="txtPurchaseRemark" class="form-control input-sm" rows="5"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="purchaseSubmit" class="btn btn-info" type="submit" form="purchaseMaterial">確認</button>
        <button id="purchaseCancel" class="btn btn-default" type="button" data-dismiss="modal">取消</button>
    </div>
</div>